*.class
*.iml
.idea
*/target
logs

# Package Files #
*.jar
*.war
*.ear
occurrence-cli/.classpath
occurrence-cli/.project
occurrence-cli/.settings/org.eclipse.jdt.core.prefs
occurrence-common/.classpath
occurrence-common/.project
occurrence-common/.settings/org.eclipse.jdt.core.prefs
occurrence-deleter/.classpath
occurrence-deleter/.project
occurrence-deleter/.settings/org.eclipse.jdt.core.prefs
occurrence-download-workflow/.classpath
occurrence-download-workflow/.project
occurrence-download-workflow/.settings/org.eclipse.jdt.core.prefs
occurrence-index-builder-workflow/.classpath
occurrence-index-builder-workflow/.project
occurrence-index-builder-workflow/.settings/org.eclipse.jdt.core.prefs
occurrence-index-builder/.classpath
occurrence-index-builder/.project
occurrence-index-builder/.settings/org.eclipse.jdt.core.prefs
occurrence-interpreters/.classpath
occurrence-interpreters/.project
occurrence-interpreters/.settings/org.eclipse.jdt.core.prefs
occurrence-parser/.classpath
occurrence-parser/.project
occurrence-parser/.settings/org.eclipse.jdt.core.prefs
occurrence-persistence/.classpath
occurrence-persistence/.project
occurrence-persistence/.settings/org.eclipse.jdt.core.prefs
occurrence-processor/.classpath
occurrence-processor/.project
occurrence-processor/.settings/org.eclipse.jdt.core.prefs
occurrence-search/.classpath
occurrence-search/.project
occurrence-search/.settings/org.eclipse.jdt.core.prefs
occurrence-ws-client/.classpath
occurrence-ws-client/.project
occurrence-ws-client/.settings/org.eclipse.jdt.core.prefs
occurrence-ws/.classpath
occurrence-ws/.project
occurrence-ws/.settings/org.eclipse.jdt.core.prefs
