<configuration>
  <property name="defaultPattern" value="%-5level [%date{'yyyy-dd-MM HH:mm:ss,SSSZ'}] [%thread] %logger: %msg%n%xEx"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
      <pattern>${defaultPattern}</pattern>
    </layout>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/occurrence-index-builder.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/occurrence-index-builder.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>14</maxHistory>
    </rollingPolicy>
    <layout>
      <pattern>${defaultPattern}</pattern>
    </layout>
  </appender>
    
  <logger name="org.apache.solr.core.SolrCore" level="WARN" additivity="false"/>
  <logger name="org.apache.solr" level="WARN" additivity="false"/>
  <logger name="org.gbif" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
